*{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
body{
    min-height: 500px;
}
header{
    .container{
        .row{
            .col-md-2{
                img{
                    width: 210px;
                    // object-fit: cover;
                }
            }
            .col-md-8{
                nav{
                    .nav{
                        ul>li{
                            position: relative;
                            &:hover >.home-list{
                                visibility: visible;
                                height: 270px;
                                transition: 1s;
                                opacity: 100%;
                            }
                            &:hover>.pages-list{
                                visibility: visible;
                                height: 150px;
                                transition: 1s;
                                opacity: 100%;
                            }
                            a{
                                position: relative;
                                &::before{
                                    content: "";
                                    position: absolute;
                                    background-color: black;
                                    width: 0%;
                                    height: 1px;
                                    bottom: -4px;
                                    left: 0px;
                                    transition: 0.5s;

                                 
                                }

                                &:hover::before{
                                    content: "";
                                    position: absolute;
                                    background-color: black;
                                    height: 1px;
                                    bottom: -4px;
                                    left: 0px; 
                                   width: 100%;
                                }
                                
                            }
                            .home-list{
                                position: absolute;
                                top: 30px;
                                width: 150px;
                                visibility: hidden;
                                height: 0px;
                                opacity: 0%;
                                overflow: hidden;
                                transition: 1s;
                                z-index: 20;
                                background-color: white;

                            }

                            .pages-list{
                                position: absolute;
                                top: 30px;
                                width: 150px;
                                visibility: hidden;
                                height: 0px;
                                opacity: 0%;
                                overflow: hidden;
                                transition: 1s;
                                z-index: 20;
                                background-color: white;

                            }
                        }
                    }
                }
                .nav-card{
                    .fa-magnifying-glass{
                        transition: 0.5s;
                        color: black;
                        cursor: pointer;
                        &:hover{
                        color: #f5675a;
                    }
                }
                }
            }
        }
    }
}

main{
    #slider{
        .carousel{
            position: relative;
            .carousel-content{
                width: 520px;
                position: absolute;
                top: 150px;
                left: 200px;
                z-index: 10;
            }
        }
    }
    
  
}

#filter-flowers{
    ul{
        display: flex;
        // justify-content: space-between;
        li{
            list-style: none;
            margin: 26px;
            font-size: 14px;
            transition:  all .8s;
                &:hover{
                    color: #f34f3f;
                }
        }
    }

    .card-element{
        width: 100%;
        height: 500px;
        &:hover{
            .card-body{
                .add-to{
                    span{
                        opacity: 1 !important;
                        position: absolute;
                        left: 90px;
                        transition: 1s all;
                        &:hover{
                            color: #f34f3f;
                            cursor: pointer;
                        }
                    }
                }
                .prise{
                    span{
                        opacity: 0;
                    }
                }
            }

        }
        .card-img{
            img{
                width: 300px;
                height: 400px;
            }
        }
        .card-body{
            text-align: center;

                .prise{
                    span{
                        transition: .5s all;
                  opacity: 1;
                    }
                }

                .add-to{
                    position: relative;
                    span{
                        top: -24px;
                        left: 30px;
                        position: absolute;
                        opacity: 0; 
                    }
                }
        }
    }
}

.active{
    color:#f34f3f ;
}
#sec-third{
    background-color: rgb(248, 243, 237);

    .flower-card{
        
        .img-div{
            
            position: relative;
 
         img{
         width: 90%;
         }
         .icon{
             top: 45%;
             left: 40%;
             position: absolute;
             background-color: white;
             width: 70px;
             height: 70px;
             border-radius: 50%;
             .fa-play{
                 font-size: 24px;
                 color: black;
                 position: absolute;
                 left: 30px;
                 top: 22px;
             }
         }
        }
    }
 }
 
 .btn-primary{
     background-color: white !important;
 }

#four-sec{
    .prof-sec{
        .col-lg-12{
            .desflow{
               display: flex;
                .img{
                    position: relative;
                    vertical-align: middle;
                    width: 200px;
                    border-radius: 50%;
        
                }
        
            }
    
        }
        .col-md-3{
            display: flex;
            
            .card{
                text-align: center;
                .card-title{
                   
                       
                  .p{
                      
                  }  

                }
            }
            
        }
       

    }
   
}
#sec-five{
    
    background-image: url("../images/h3-background-img.jpg");
    width: 100%;
   min-height: 500px;
   align-items: center;
   text-align: center;
   display: flex;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center;
   
    .elements{
        
        // justify-content: center;
        // flex-direction: column;
        
        //
        h2{

        } 
        input{
            height: 7vh;
            font-size: 12px;
            color: rgb(184, 179, 179);
            

        }
        a{
            background-color: #f34f3f;
            border: none;
            padding: 10px;
            outline: none;
            
            &:focus{
                box-shadow: none;
            }
           
        }

    
        
    }
}
#sec-six{
    .container-blog{
        background-color: #e9e5e5;
        padding: 100px 0;
        .container{
            .row{
                .col-md-4{
                    .blog-card{
                        position: relative;
                        .blog-card-img {
                            width: 500px;
                            height: 600px;
                            overflow: hidden;
                            &:hover{
                                img{
                                    transform: scale(1.1);
                                }
                            }
                            img{
                            width: 419px;
                            height: 268px;
                            transition: .5s;
                        }
                    }
                        .blog-card-content{
                            padding: 10px;
                            p{
                                font-size: 14px;
                                color: #6d6a85;
                            }
                        }
                        .datetime{
                            background-color: white;
                            position: absolute;
                            top: 2px;
                            left: 10px;
                            padding: 4px 10px;
                            span{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    
}
footer{
    background-color:#fefaf3;
    .container{
        .row{
            .col-md-3{
                .list{
                    line-height: 30px;
                    p{
                        font-size: 14px;
                    }
                    li>a{
                        color: rgb(92, 91, 91);
                        font-size: 10px;
                        text-decoration: none;
                        &:hover{
                            color: #f5675a;
                        }
                    }
                } 
            }

            .col-md-4{
                p{
                    font-size: 16px;
                }
                a{
                    font-size: 10px;
                    transition: 0.5s;
                    
                    color: #6d6a85;
                    
                    &:hover{
                        color: #f5675a;
                    }
                }
            }
        }
    }
}