* {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

body {
  min-height: 500px;
}

header .container .row .col-md-2 img {
  width: 210px;
}

header .container .row .col-md-8 nav .nav ul > li {
  position: relative;
}

header .container .row .col-md-8 nav .nav ul > li:hover > .home-list {
  visibility: visible;
  height: 270px;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 100%;
}

header .container .row .col-md-8 nav .nav ul > li:hover > .pages-list {
  visibility: visible;
  height: 150px;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 100%;
}

header .container .row .col-md-8 nav .nav ul > li a {
  position: relative;
}

header .container .row .col-md-8 nav .nav ul > li a::before {
  content: "";
  position: absolute;
  background-color: black;
  width: 0%;
  height: 1px;
  bottom: -4px;
  left: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .container .row .col-md-8 nav .nav ul > li a:hover::before {
  content: "";
  position: absolute;
  background-color: black;
  height: 1px;
  bottom: -4px;
  left: 0px;
  width: 100%;
}

header .container .row .col-md-8 nav .nav ul > li .home-list {
  position: absolute;
  top: 30px;
  width: 150px;
  visibility: hidden;
  height: 0px;
  opacity: 0%;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 20;
  background-color: white;
}

header .container .row .col-md-8 nav .nav ul > li .pages-list {
  position: absolute;
  top: 30px;
  width: 150px;
  visibility: hidden;
  height: 0px;
  opacity: 0%;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 20;
  background-color: white;
}

header .container .row .col-md-8 .nav-card .fa-magnifying-glass {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: black;
  cursor: pointer;
}

header .container .row .col-md-8 .nav-card .fa-magnifying-glass:hover {
  color: #f5675a;
}

main #slider .carousel {
  position: relative;
}

main #slider .carousel .carousel-content {
  width: 520px;
  position: absolute;
  top: 150px;
  left: 200px;
  z-index: 10;
}

#filter-flowers ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#filter-flowers ul li {
  list-style: none;
  margin: 26px;
  font-size: 14px;
  -webkit-transition: all .8s;
  transition: all .8s;
}

#filter-flowers ul li:hover {
  color: #f34f3f;
}

#filter-flowers .card-element {
  width: 100%;
  height: 500px;
}

#filter-flowers .card-element:hover .card-body .add-to span {
  opacity: 1 !important;
  position: absolute;
  left: 90px;
  -webkit-transition: 1s all;
  transition: 1s all;
}

#filter-flowers .card-element:hover .card-body .add-to span:hover {
  color: #f34f3f;
  cursor: pointer;
}

#filter-flowers .card-element:hover .card-body .prise span {
  opacity: 0;
}

#filter-flowers .card-element .card-img img {
  width: 300px;
  height: 400px;
}

#filter-flowers .card-element .card-body {
  text-align: center;
}

#filter-flowers .card-element .card-body .prise span {
  -webkit-transition: .5s all;
  transition: .5s all;
  opacity: 1;
}

#filter-flowers .card-element .card-body .add-to {
  position: relative;
}

#filter-flowers .card-element .card-body .add-to span {
  top: -24px;
  left: 30px;
  position: absolute;
  opacity: 0;
}

.active {
  color: #f34f3f;
}

#sec-third {
  background-color: #f8f3ed;
}

#sec-third .flower-card .img-div {
  position: relative;
}

#sec-third .flower-card .img-div img {
  width: 90%;
}

#sec-third .flower-card .img-div .icon {
  top: 45%;
  left: 40%;
  position: absolute;
  background-color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

#sec-third .flower-card .img-div .icon .fa-play {
  font-size: 24px;
  color: black;
  position: absolute;
  left: 30px;
  top: 22px;
}

.btn-primary {
  background-color: white !important;
}

#four-sec .prof-sec .col-lg-12 .desflow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#four-sec .prof-sec .col-lg-12 .desflow .img {
  position: relative;
  vertical-align: middle;
  width: 200px;
  border-radius: 50%;
}

#four-sec .prof-sec .col-md-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#four-sec .prof-sec .col-md-3 .card {
  text-align: center;
}

#sec-five {
  background-image: url("../images/h3-background-img.jpg");
  width: 100%;
  min-height: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

#sec-five .elements input {
  height: 7vh;
  font-size: 12px;
  color: #b8b3b3;
}

#sec-five .elements a {
  background-color: #f34f3f;
  border: none;
  padding: 10px;
  outline: none;
}

#sec-five .elements a:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#sec-six .container-blog {
  background-color: #e9e5e5;
  padding: 100px 0;
}

#sec-six .container-blog .container .row .col-md-4 .blog-card {
  position: relative;
}

#sec-six .container-blog .container .row .col-md-4 .blog-card .blog-card-img {
  width: 500px;
  height: 600px;
  overflow: hidden;
}

#sec-six .container-blog .container .row .col-md-4 .blog-card .blog-card-img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#sec-six .container-blog .container .row .col-md-4 .blog-card .blog-card-img img {
  width: 419px;
  height: 268px;
  -webkit-transition: .5s;
  transition: .5s;
}

#sec-six .container-blog .container .row .col-md-4 .blog-card .blog-card-content {
  padding: 10px;
}

#sec-six .container-blog .container .row .col-md-4 .blog-card .blog-card-content p {
  font-size: 14px;
  color: #6d6a85;
}

#sec-six .container-blog .container .row .col-md-4 .blog-card .datetime {
  background-color: white;
  position: absolute;
  top: 2px;
  left: 10px;
  padding: 4px 10px;
}

#sec-six .container-blog .container .row .col-md-4 .blog-card .datetime span {
  font-size: 12px;
}

footer {
  background-color: #fefaf3;
}

footer .container .row .col-md-3 .list {
  line-height: 30px;
}

footer .container .row .col-md-3 .list p {
  font-size: 14px;
}

footer .container .row .col-md-3 .list li > a {
  color: #5c5b5b;
  font-size: 10px;
  text-decoration: none;
}

footer .container .row .col-md-3 .list li > a:hover {
  color: #f5675a;
}

footer .container .row .col-md-4 p {
  font-size: 16px;
}

footer .container .row .col-md-4 a {
  font-size: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #6d6a85;
}

footer .container .row .col-md-4 a:hover {
  color: #f5675a;
}
/*# sourceMappingURL=style.css.map */